# Proyecto Final Analítica de Datos

#### Juan Diego Carvajal Castaño - A00135764
#### Juan Manuel Imbachí Güengue - A00130580

Importamos las librerías que vamos a usar

In [ ]:
import numpy as np #operaciones matriciales y con vectores
import pandas as pd #tratamiento de datos
import matplotlib.pyplot as plt #gráficos

In [ ]:
data = pd.read_csv('2017-18_NBA_salary.csv')

## Preparación de los datos

Info de los datos -- si se quiere

In [63]:
data.shape

(483, 28)

In [64]:
data.head()

,Player,Salary,NBA_Country,NBA_DraftNumber,Age,Tm,G,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,Zhou Qi,815615,China,43,22,HOU,16,87,0.6,0.303,0.593,0.370,6.5,16.8,11.7,1.5,1.1,6.8,18.2,19.5,-0.4,0.1,-0.2,-0.121,-10.6,0.5,-10.1,-0.2
1,Zaza Pachulia,3477600,Georgia,42,33,GSW,66,937,16.8,0.608,0.004,0.337,11.0,25.0,18.5,15.4,1.9,1.3,19.3,17.2,1.7,1.4,3.1,0.160,-0.6,1.3,0.8,0.7
2,Zach Randolph,12307692,USA,19,36,SAC,59,1508,17.3,0.529,0.193,0.140,7.0,23.8,15.0,14.9,1.4,0.6,12.5,27.6,0.3,1.1,1.4,0.046,-0.6,-1.3,-1.9,0.0
3,Zach LaVine,3202217,USA,13,22,CHI,24,656,14.6,0.499,0.346,0.301,1.4,14.4,7.7,18.6,1.8,0.5,9.7,29.5,-0.1,0.5,0.4,0.027,-0.7,-2.0,-2.6,-0.1
4,Zach Collins,3057240,USA,10,20,POR,62,979,8.2,0.487,0.387,0.146,4.9,18.3,11.7,7.3,0.8,2.5,15.6,15.5,-0.4,1.2,0.8,0.038,-3.7,0.9,-2.9,-0.2

Hay 485 registros con 28 variables.
Ahora analizaremos si hay problemas de datos con respecto a valores faltantes y outliers.

In [47]:
data.describe(include="all").transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Player,483,481,Kay Felder,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salary,483,NaN,NaN,NaN,6.66062e+06,7.39821e+06,46080,1.47138e+06,3.21828e+06,1e+07,3.46826e+07
NBA_Country,483,44,USA,372,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NBA_DraftNumber,483,NaN,NaN,NaN,29.3954,21.116,1,10.5,25,47,62
Age,483,NaN,NaN,NaN,26.2733,4.27429,19,23,26,29,41
Tm,483,31,TOT,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN
G,483,NaN,NaN,NaN,50.3706,24.7236,1,29.5,59,71,79
MP,483,NaN,NaN,NaN,1158.92,809.628,1,385,1151,1824.5,2898
PER,483,NaN,NaN,NaN,13.3157,8.74567,-41.1,9.8,13.2,16.55,134.1
TS%,483,NaN,NaN,NaN,0.535387,0.112352,0,0.5055,0.545,0.5825,1.5
3PAr,483,NaN,NaN,NaN,0.337383,0.226894,0,0.167,0.346,0.481,1
FTr,483,NaN,NaN,NaN,0.263404,0.294578,0,0.155,0.231,0.3195,5.333
ORB%,483,NaN,NaN,NaN,4.894,4.58152,0,1.8,3.3,7.05,35.9
DRB%,483,NaN,NaN,NaN,15.0126,6.79352,0,10.3,14,18.8,37.6
TRB%,483,NaN,NaN,NaN,9.94928,4.92536,0,6.2,8.7,13.3,26.5
AST%,483,NaN,NaN,NaN,13.0014,9.09296,0,6.9,10,17.6,49.4
STL%,483,NaN,NaN,NaN,1.53582,0.986686,0,1,1.5,1.9,12.5
BLK%,483,NaN,NaN,NaN,1.72029,1.68365,0,0.6,1.2,2.2,13.4
TOV%,483,NaN,NaN,NaN,13.1404,6.11529,0,9.9,12.5,15.75,66.7
USG%,483,NaN,NaN,NaN,18.9756,5.82653,5.7,15,17.9,22.25,45.1
OWS,483,NaN,NaN,NaN,1.28075,1.88354,-2.3,0,0.8,2,11.4
DWS,483,NaN,NaN,NaN,1.18137,1.03394,0,0.3,1,1.8,5.6
WS,483,NaN,NaN,NaN,2.46542,2.67452,-1.2,0.3,1.9,3.6,15
WS/48,483,NaN,NaN,NaN,0.0803251,0.163229,-1.063,0.0405,0.083,0.123,2.713
OBPM,483,NaN,NaN,NaN,-1.25259,5.02875,-36.5,-2.6,-1.1,0.4,68.7
DBPM,483,NaN,NaN,NaN,-0.489441,2.39416,-14.3,-1.7,-0.4,1,6.8
BPM,483,NaN,NaN,NaN,-1.74182,5.66591,-49.2,-3.5,-1.3,0.55,54.4
VORP,483,NaN,NaN,NaN,0.601242,1.24764,-1.3,-0.1,0.1,0.9,8.6

Aparentemente no hay outliers, sin embargo, se puede observar que hay valores faltantes, puesto que el valor de la columna COUNT no es 485 para todas las variables.

### Variables que tienen valores faltantes

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 28 columns):
Player             485 non-null object
Salary             485 non-null int64
NBA_Country        485 non-null object
NBA_DraftNumber    485 non-null int64
Age                485 non-null int64
Tm                 485 non-null object
G                  485 non-null int64
MP                 485 non-null int64
PER                485 non-null float64
TS%                483 non-null float64
3PAr               483 non-null float64
FTr                483 non-null float64
ORB%               485 non-null float64
DRB%               485 non-null float64
TRB%               485 non-null float64
AST%               485 non-null float64
STL%               485 non-null float64
BLK%               485 non-null float64
TOV%               483 non-null float64
USG%               485 non-null float64
OWS                485 non-null float64
DWS                485 non-null float64
WS                 485 non-null float64
WS/48              485 non-null float64
OBPM               485 non-null float64
DBPM               485 non-null float64
BPM                485 non-null float64
VORP               485 non-null float64
dtypes: float64(20), int64(5), object(3)
memory usage: 106.2+ KB

In [15]:
print(pd.isnull(data).any(0)) #el 0 implica cualquier columna, si quisieramos las filas utilizamos 1
print("Las columnas que tienen valores faltantes son: ",pd.isnull(data).any(0).to_numpy().nonzero()[0])
print("y corresponden a: ", data.columns[pd.isnull(data).any(0).to_numpy().nonzero()[0]])

Player             False
Salary             False
NBA_Country        False
NBA_DraftNumber    False
Age                False
Tm                 False
G                  False
MP                 False
PER                False
TS%                 True
3PAr                True
FTr                 True
ORB%               False
DRB%               False
TRB%               False
AST%               False
STL%               False
BLK%               False
TOV%                True
USG%               False
OWS                False
DWS                False
WS                 False
WS/48              False
OBPM               False
DBPM               False
BPM                False
VORP               False
dtype: bool
Las columnas que tienen valores faltantes son:  [ 9 10 11 18]
y corresponden a:  Index(['TS%', '3PAr', 'FTr', 'TOV%'], dtype='object')

#### Las columnas TS%, 3PAr, FTr, TOV% tienen valores faltantes.

### Registros repetidos

In [33]:
data['Player'].value_counts()

Kay Felder                  3
Denzel Valentine            1
Aaron Gordon                1
Kentavious Caldwell-Pope    1
Elfrid Payton               1
Milos Teodosic              1
Nicolas Brussino            1
Tony Bradley                1
Larry Drew                  1
Meyers Leonard              1
Evan Turner                 1
Georgios Papagiannis        1
Ike Anigbogu                1
Alfonzo McKinnie            1
Kyle Lowry                  1
Austin Rivers               1
Nikola Jokic                1
Al-Farouq Aminu             1
Devin Harris                1
Darrell Arthur              1
Tyler Zeller                1
Jameel Warney               1
Sterling Brown              1
Nigel Hayes                 1
Michael Beasley             1
Devin Booker                1
D.J. Wilson                 1
James Ennis                 1
Sam Dekker                  1
Goran Dragic                1
                           ..
Patty Mills                 1
Tyler Ennis                 1
Pat Connaughton             1
Reggie Jackson              1
Semi Ojeleye                1
OG Anunoby                  1
Tim Hardaway                1
Joe Johnson                 1
J.R. Smith                  1
Tobias Harris               1
Matthew Dellavedova         1
Bogdan Bogdanovic           1
Glenn Robinson              1
Ian Clark                   1
Danny Green                 1
Enes Kanter                 1
Tarik Black                 1
JaMychal Green              1
Kris Dunn                   1
Marquese Chriss             1
Frank Ntilikina             1
Cedi Osman                  1
Caleb Swanigan              1
Paul George                 1
Malcolm Delaney             1
Luke Kennard                1
T.J. Warren                 1
Salah Mejri                 1
Alex Len                    1
Jawun Evans                 1
Name: Player, Length: 481, dtype: int64

In [41]:
data[data['Player'].duplicated(keep=False)]

,Player,Salary,NBA_Country,NBA_DraftNumber,Age,Tm,G,MP,PER,TS%,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
224,Kay Felder,1312611,USA,54,22,DET,1,3,-31.6,0.000,...,33.3,44.2,-0.1,0.0,-0.1,-1.005,-29.5,-11.9,-41.4,0.0
225,Kay Felder,1312611,USA,54,22,CHI,14,134,3.6,0.386,...,17.4,28.0,-0.5,0.1,-0.5,-0.166,-8.2,-3.3,-11.5,-0.3
226,Kay Felder,1312611,USA,54,22,TOT,15,137,2.9,0.375,...,17.9,28.4,-0.6,0.1,-0.5,-0.185,-8.7,-3.5,-12.1,-0.3

#### Se encontró que el jugador Kay Felder tiene 3 registros asociados a 3 equipos diferentes durante la temporada

# Reporte Primera Entrega

## Calidad de los Datos

Al observar los datos se pudo evidenciar que:
### Faltantes
   Existen datos faltantes para 4 variables: TS%, 3PAr, FTr, TOV%, donde cada una tiene 2 valores nulos o NaN.
### Outliers
   Columna OWS tiene valores negativos pero representa el número de victorias a las que contribuyó el jugador dado su desempeño ofensivo.
    WS,WS/48,OBPM,DBPM,BPM,VORP son negativos, ¿tiene sentido?

### Repetidos
   Usando el atributo 'Player' como identificador del registro, se encontró que hay 3 registros repetidos con el valor'Kay Felder', aunque sabemos que es inusual que un jugador sea transferido más de una vez dentro de una misma temporada, dado que es posible realizar dicha transferencia, tomaremos estos 3 registros en el análisis.


### Problemas de escala  
* En el caso de los porcentajes, las variables varían en el orden de magnitud, unas presentan un orden de 10^0 y otras de 10^-1.
* Las variables presentan diferencias significativas en sus promedios, valores mínimos y máximos.
    
   Estos problemas de escala pueden ser consecuencia de valores atípicos o outliers que están presentes en los datos.

### Problemas de tipo
* Las características 'NBA_Country', 'Tm' y 'Player' son las únicas de tipo string, por lo que deberían ser convertidas a variables numéricas para ser tomadas en cuenta en el estudio. Sin embargo, consideramos que 'Player' no es relevante para hacer inferencias sobre el posible salario de un jugador.
    
### Distribución de los datos
    Los valores dentro de cada uno de los percentiles varía significativamente,
    
#### __*El registro 142 tiene valores muy elevados*__
#### __*Los registros 147 y 224 tienes valores muy bajos*__

## Eliminación de registros con valores faltantes

In [18]:
cleanData = data.dropna()
print("Datos originales: ", data.shape)
print("Datos limpios y completos: ", cleanData.shape)
print("Se eliminaron {} registos".format(data.shape[0] - cleanData.shape[0]))

Datos originales:  (485, 28)
Datos limpios y completos:  (483, 28)
Se eliminaron 2 registos

In [19]:
data = cleanData

## Eliminación de registros repetidos

In [46]:
data.drop_duplicates(subset=['Player'])['Player'].value_counts() #Parámetro keep para definir si dejar alguno de los duplicados first/last

Denzel Valentine            1
Cristiano Felicio           1
Kentavious Caldwell-Pope    1
Elfrid Payton               1
Milos Teodosic              1
Nicolas Brussino            1
Tony Bradley                1
Larry Drew                  1
Meyers Leonard              1
Evan Turner                 1
Georgios Papagiannis        1
Ike Anigbogu                1
Alfonzo McKinnie            1
Kyle Lowry                  1
Austin Rivers               1
Aaron Gordon                1
Nikola Jokic                1
Devin Harris                1
Darrell Arthur              1
Tyler Zeller                1
Jameel Warney               1
Sterling Brown              1
Nigel Hayes                 1
Michael Beasley             1
Devin Booker                1
D.J. Wilson                 1
James Ennis                 1
Sam Dekker                  1
Goran Dragic                1
Willie Cauley-Stein         1
                           ..
Patty Mills                 1
Tyler Ennis                 1
Pat Connaughton             1
Reggie Jackson              1
Semi Ojeleye                1
OG Anunoby                  1
Tim Hardaway                1
Joe Johnson                 1
J.R. Smith                  1
Tobias Harris               1
Matthew Dellavedova         1
Bogdan Bogdanovic           1
Glenn Robinson              1
Ian Clark                   1
Danny Green                 1
Enes Kanter                 1
Tarik Black                 1
JaMychal Green              1
Kris Dunn                   1
Marquese Chriss             1
Frank Ntilikina             1
Cedi Osman                  1
Caleb Swanigan              1
Paul George                 1
Malcolm Delaney             1
Luke Kennard                1
T.J. Warren                 1
Salah Mejri                 1
Alex Len                    1
Jawun Evans                 1
Name: Player, Length: 481, dtype: int64

# Maousekeherramientas para usar más adelante

In [66]:
# Filtrado
data['WS/48'].sort_values(ascending=True)

147   -1.063
224   -1.005
188   -0.443
6     -0.251
84    -0.237
305   -0.211
161   -0.196
375   -0.192
241   -0.189
226   -0.185
135   -0.180
7     -0.169
225   -0.166
143   -0.141
289   -0.141
134   -0.134
0     -0.121
245   -0.118
22    -0.103
449   -0.080
196   -0.063
94    -0.060
391   -0.060
23    -0.057
276   -0.053
393   -0.047
110   -0.046
280   -0.043
167   -0.036
302   -0.036
341   -0.036
313   -0.035
112   -0.033
321   -0.033
420   -0.033
202   -0.030
274   -0.030
180   -0.027
333   -0.020
83    -0.020
185   -0.019
410   -0.019
184   -0.018
381   -0.017
242   -0.016
392   -0.015
239   -0.015
437   -0.012
399   -0.012
28    -0.011
377   -0.010
432   -0.010
285   -0.009
361   -0.008
282   -0.008
363   -0.006
317   -0.006
456   -0.005
478   -0.004
460   -0.001
352    0.000
481    0.004
365    0.005
125    0.006
369    0.006
458    0.006
314    0.008
334    0.008
32     0.008
72     0.010
454    0.013
47     0.016
152    0.016
407    0.017
370    0.018
168    0.018
482    0.019
172    0.020
336    0.021
408    0.022
252    0.022
293    0.023
181    0.023
243    0.023
111    0.024
16     0.025
170    0.025
128    0.026
51     0.026
3      0.027
297    0.027
15     0.027
210    0.028
342    0.028
101    0.028
360    0.029
320    0.029
46     0.030
107    0.031
118    0.031
307    0.031
198    0.031
286    0.032
61     0.032
464    0.032
338    0.033
339    0.034
160    0.034
315    0.035
133    0.035
232    0.036
389    0.037
55     0.037
256    0.037
414    0.038
4      0.038
59     0.038
175    0.038
484    0.039
288    0.040
264    0.040
300    0.041
149    0.042
82     0.042
233    0.043
441    0.043
284    0.043
331    0.043
263    0.044
35     0.045
357    0.045
199    0.045
2      0.046
50     0.046
251    0.046
182    0.047
74     0.048
70     0.048
155    0.048
68     0.050
106    0.050
207    0.051
471    0.051
20     0.051
73     0.051
255    0.052
166    0.052
31     0.052
192    0.053
270    0.055
247    0.056
430    0.056
14     0.056
44     0.056
173    0.057
97     0.057
327    0.057
119    0.057
409    0.057
329    0.058
290    0.058
235    0.059
380    0.059
219    0.059
93     0.059
137    0.059
304    0.060
382    0.060
344    0.060
13     0.061
148    0.061
54     0.061
374    0.063
237    0.063
85     0.063
435    0.064
465    0.064
457    0.064
80     0.064
364    0.064
171    0.065
436    0.065
52     0.065
431    0.065
442    0.066
8      0.067
5      0.067
187    0.067
447    0.067
428    0.068
156    0.068
443    0.068
429    0.069
102    0.069
60     0.070
268    0.071
403    0.071
45     0.072
440    0.072
316    0.072
418    0.074
179    0.075
400    0.075
323    0.075
346    0.075
75     0.076
354    0.076
472    0.076
120    0.077
186    0.077
64     0.077
96     0.077
483    0.078
474    0.078
194    0.078
230    0.078
153    0.079
417    0.079
262    0.079
427    0.079
42     0.079
53     0.079
138    0.080
104    0.080
178    0.080
205    0.080
291    0.081
169    0.081
249    0.081
477    0.081
378    0.081
424    0.081
404    0.081
257    0.082
136    0.082
76     0.082
11     0.082
335    0.083
197    0.083
154    0.083
267    0.083
303    0.083
122    0.083
190    0.084
66     0.084
439    0.085
222    0.085
388    0.085
34     0.085
150    0.085
397    0.087
272    0.087
373    0.087
91     0.087
43     0.088
416    0.088
78     0.088
419    0.089
366    0.089
343    0.089
345    0.089
176    0.089
266    0.089
384    0.090
127    0.090
146    0.090
77     0.091
405    0.091
129    0.091
117    0.092
278    0.092
183    0.093
311    0.093
452    0.093
105    0.094
466    0.094
306    0.094
108    0.095
277    0.095
476    0.095
296    0.096
326    0.096
459    0.097
281    0.098
126    0.098
468    0.098
312    0.098
212    0.098
30     0.099
246    0.099
116    0.099
467    0.099
56     0.099
19     0.099
292    0.099
240    0.100
141    0.100
209    0.100
309    0.100
271    0.100
17     0.101
324    0.101
244    0.101
299    0.102
412    0.102
473    0.103
446    0.103
99     0.103
234    0.103
130    0.104
319    0.104
65     0.105
79     0.105
229    0.105
349    0.106
12     0.106
433    0.106
438    0.106
347    0.106
206    0.107
350    0.107
238    0.108
92     0.108
218    0.109
33     0.109
109    0.110
163    0.110
25     0.110
158    0.110
372    0.110
213    0.111
448    0.111
328    0.111
151    0.112
332    0.112
98     0.113
445    0.113
131    0.113
337    0.113
81     0.114
36     0.115
434    0.115
174    0.115
415    0.115
162    0.115
177    0.116
24     0.116
41     0.117
103    0.118
71     0.118
426    0.118
273    0.118
27     0.119
258    0.120
40     0.120
113    0.120
260    0.121
90     0.121
310    0.122
159    0.122
451    0.123
368    0.123
214    0.123
63     0.124
248    0.124
348    0.125
367    0.125
294    0.126
49     0.127
26     0.128
385    0.129
220    0.130
359    0.130
87     0.131
95     0.131
191    0.131
211    0.132
38     0.133
353    0.134
325    0.134
58     0.135
121    0.136
394    0.137
139    0.137
265    0.137
144    0.137
279    0.138
254    0.138
362    0.138
287    0.139
401    0.140
371    0.142
461    0.142
165    0.143
124    0.143
114    0.143
62     0.144
236    0.144
421    0.144
215    0.144
275    0.145
308    0.146
455    0.147
259    0.147
48     0.147
208    0.147
231    0.149
221    0.150
387    0.153
223    0.153
57     0.153
340    0.154
479    0.154
475    0.155
9      0.156
261    0.156
21     0.156
203    0.157
115    0.158
470    0.158
453    0.159
298    0.159
1      0.160
123    0.161
425    0.161
480    0.164
444    0.165
39     0.167
88     0.168
356    0.168
140    0.170
301    0.170
376    0.171
386    0.174
395    0.175
10     0.175
100    0.175
379    0.176
86     0.177
318    0.177
18     0.177
406    0.180
413    0.180
157    0.181
398    0.182
216    0.183
355    0.185
67     0.187
189    0.189
250    0.189
469    0.190
322    0.190
390    0.191
358    0.193
269    0.194
204    0.195
227    0.197
351    0.198
195    0.200
253    0.207
450    0.208
132    0.208
402    0.210
283    0.212
145    0.213
89     0.214
200    0.214
330    0.214
463    0.219
217    0.221
193    0.222
201    0.224
228    0.225
411    0.227
462    0.241
422    0.242
423    0.262
69     0.270
295    0.294
383    0.298
164    0.365
396    0.464
142    2.713
Name: WS/48, dtype: float64

In [62]:
# Obtener registro por index
pd.options.display.max_columns = None
pd.options.display.max_rows = None
data.iloc[140:141]
data.iloc[145:146]

,Player,Salary,NBA_Country,NBA_DraftNumber,Age,Tm,G,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
147,Mindaugas Kuzminskas,3025035,Lithuania,62,28,NYK,1,2,-41.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,43.6,0.0,0.0,0.0,-1.063,-36.5,-12.7,-49.2,0.0